In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("injuries_2010-2020.csv")
df

,Date,Team,Acquired,Relinquished,Notes
0,2010-10-03,Bulls,NaN,Carlos Boozer,fractured bone in right pinky finger (out inde...
1,2010-10-06,Pistons,NaN,Jonas Jerebko,torn right Achilles tendon (out indefinitely)
2,2010-10-06,Pistons,NaN,Terrico White,broken fifth metatarsal in right foot (out ind...
3,2010-10-08,Blazers,NaN,Jeff Ayres,torn ACL in right knee (out indefinitely)
4,2010-10-08,Nets,NaN,Troy Murphy,strained lower back (out indefinitely)
...,...,...,...,...,...
27100,2020-09-30,Lakers,Dion Waiters,NaN,activated from IL
27101,2020-10-02,Heat,NaN,Bam Adebayo,strained neck (DTD)
27102,2020-10-02,Heat,NaN,Goran Dragic,placed on IL with torn plantar fascia in left ...
27103,2020-10-02,Heat,Chris Silva,NaN,activated from IL
27104,2020-10-06,Heat,Bam Adebayo,NaN,returned to lineup

In [4]:
df.describe()

              Date   Team     Acquired Relinquished              Notes
count        27105  27103         9542        17560              27105
unique        2103     32         1111         1156               3114
top     2014-04-16  Spurs  Dwyane Wade   Kevin Love  activated from IL
freq            76   1163           54          101               7342

In [5]:
null_column = df.isnull().sum()
null_column

Date                0
Team                2
Acquired        17563
Relinquished     9545
Notes               0
dtype: int64

In [6]:
df.columns

Index(['Date', 'Team', 'Acquired', 'Relinquished', 'Notes'], dtype='object')

In [7]:
new_df = df.drop('Acquired', axis=1)
new_df

,Date,Team,Relinquished,Notes
0,2010-10-03,Bulls,Carlos Boozer,fractured bone in right pinky finger (out inde...
1,2010-10-06,Pistons,Jonas Jerebko,torn right Achilles tendon (out indefinitely)
2,2010-10-06,Pistons,Terrico White,broken fifth metatarsal in right foot (out ind...
3,2010-10-08,Blazers,Jeff Ayres,torn ACL in right knee (out indefinitely)
4,2010-10-08,Nets,Troy Murphy,strained lower back (out indefinitely)
...,...,...,...,...
27100,2020-09-30,Lakers,NaN,activated from IL
27101,2020-10-02,Heat,Bam Adebayo,strained neck (DTD)
27102,2020-10-02,Heat,Goran Dragic,placed on IL with torn plantar fascia in left ...
27103,2020-10-02,Heat,NaN,activated from IL
27104,2020-10-06,Heat,NaN,returned to lineup

In [10]:
common = new_df['Notes'].value_counts()
common

Notes
activated from IL                                              7342
placed on IL                                                   3390
returned to lineup                                             2086
sprained left ankle (DNP)                                       362
rest (DTD)                                                      286
                                                               ...
surgery to repair fractured orbital bone (out indefinitely)       1
sprained left ankle (P) / knee (CBC) (DNP)                        1
fractured left cheekbone (DNP)                                    1
placed on IL with hip injury (P)                                  1
placed on IL with strained right adductor (out for season)        1
Name: count, Length: 3114, dtype: int64

In [12]:
#model training
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, mean_squared_error